<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Platforma</label>
            <select 
                class="form-control"
                ng-options="item.Name for item in platforms"
                ng-model="selectedPlatform"></select>
        </div>
    </div>
    <div class="col-md-6"> 
        <div class="form-group">
            <label>Biblioteki</label>
            <ul class="multiple-checkboxes" ng-show="selectedPlatform">
                <li
                    ng-repeat="item in libraries| filter: {Platform: selectedPlatform.ID}">
                    <input type="checkbox" class="form-control" ng-model="item.selected" name="libraryitem_{{$index}}"/>
                    <label for="libraryitem_{{$index}}">{{item.Name}}</label>
                </li>
            </ul>
            <div ng-hide="selectedPlatform">Wybierz platformę</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Zwracany typ</label>
            <select 
                class="form-control"
                ng-disabled="!useCodeWrapper"
                ng-options="item.Name for item in returntypes"
                ng-model="selectedReturnType"></select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-lg-12">
            <input type="checkbox" class="form-control" ng-model="useCodeWrapper" name="use-wrapper"/>
            <label for="use-wrapper">Użyj wrappera</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <label>Kod</label>
        <textarea 
            ng-disabled="!selectedPlatform"
            class="form-control code-area"
            ng-model="code"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button 
            ng-disabled="!selectedPlatform || waitingForResult"
            type="button" class="btn btn-default"
            ng-click="requestExecution()">Wykonaj</button>
        <span ng-show="waitingForResult">Czekaj...</span>
    </div>
</div>
<div>
    <pre ng-class="executionStatus">{{ executionResult}}</pre>
</div>